/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body{
    margin: 0 auto;
    padding: 0;
    font-family: Montserrat, sans-serif;
    width: 100%;
}
.header{
    background-image: url(../img/background/section1.jpg);
    background-attachment: fixed;
    /*height: 1012px;*/
    min-width: 1200px;

}
.content{
    width: 1160px;
    margin: 0 auto;
    /*border: red solid 1px;*/
}
.green{
    color: #18cfab;
    font-weight: bold;
}
.white{
    color: white;
    font-weight: bold;
}
.none{
    display: none;
}
.hidden{
    visibility: hidden
}
a{
    display: inline-block;
    text-decoration: none;
}
/*Меню----------------------------------------------------*/
.nav_bar{
    background-color: rgba(58, 55, 55, 0.6);
    /*height: 120px;*/
    padding: 27px 10px;
}
.flexItemMenu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 260px;
}
.imgLogo{
    background-image: url("../img/myLogo.png");
    width: 58px;
    height: 67px;
    box-sizing: border-box;
}
.letterLogo{
    font-size: 40px;
    color: white;
    font-weight: bold;
    line-height: 67px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 32px;
}
.logo_text{
    margin-left: 10px;
    color: white;
    font-size: 31px;
}
.main_menu_block{
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    width: 644px;
    font-weight: bold;
    justify-content: space-between;
    font-size: 13px;
}
.menu{
    /*height: 120px;*/
    align-items: center;
    /*padding: ;*/
}
.menu_style:hover {
    color:  #18cfab;
}
.menu_style:hover + .greenLine{
    opacity: 1;
}
.menu_style{
    text-decoration: none;
    color: #bbbbbb;
    text-transform: uppercase;
}
.search_block{
    margin-left: 20px;
    width: 22px;
}
.search{
    background-image: url("../img/_fa-search1.png");
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
}
.search:hover {
    background-image: url("../img/_fa-search2.png");
}
.search:hover + .greenLine{
    opacity: 1;
    top: 51px;
}


.greenLine{
    /*width: 39px;*/
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color:#18cfab;
    position: relative;
    top: 55px;
    margin: 0 auto;
}

/*-----Header Content------------------------------------------------------*/

.upText{
    text-transform: uppercase;
}
.header_content{
    padding: 246px 0;
    /*margin-top: 246px;*/
}
.theHam{
font-size: 31px;
    margin-bottom: 45px;
    text-align: center;

}
.weAre{
    font-size: 71px;
    text-align: center;
    margin-bottom: 35px;
}
.justBuy{
    font-size: 30px;
    text-align: center;
    color: rgba(212, 212, 212, 255);
    margin-bottom: 142px;
}
.buttonBlock{
    margin: 0 auto;
    width: 360px;
}
.buttonStyle{
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    border-radius: 4px;
    box-shadow: #ffffff 0 -4px 0;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 255);
    font-size: 13px;
    font-weight: bold;
}
button + button{
    margin-left: 23px;
}
.color2Button{
    background-color: #00cbf6;

}
/*------------------Square------------------------*/

.blockOfSquares{
    display: flex;
    justify-content: space-between;
}

.square{
    flex-basis: 25%;
    flex-grow: 1;
    /*height: 374px;*/
    padding: 105px 0;
}
.squareGrey{
    background-color: #1c2a33;
    box-shadow: #18cfab 0 -4px 0 ;
}
.squareGreen{
    background-color: #18cfab;
    box-shadow: #ffffff 0 -4px 0 ;
}
.textBlockSquare{
     /*position: relative;*/
     /*top: 50%;*/
     /*left: 50%;*/
     /*transform: translate(-50%, -50%);*/


 }
.squareText{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 48px;
}
.squareImage{
    /*width: 58px;*/
    height: 97px;
    margin: 0 auto;
    display: block;
}
/*-----------------ourServices---------------------*/
.headerParts{
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
    margin-top: 82px;
}
.twoLines{
    margin: 0  auto 74px;
    width: 88px;
}
.line{
    background-color: #18cfab;
    width: 76px;
    height: 1px;
    margin-top: 30px;
}
.line + .line{
    margin: 3px 0 0 12px;
}
.ourServicesBlock{
   margin-bottom: 105px;
}
.tabsOurServ{
    width: 193px;
    height: 73px;
    background-color: #f8fcfe;
    line-height: 73px;
    text-align: center;
    border: solid 1px #ebebeb;
    color: #717171;
    font-size: 17px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.tabsOurServActiv{
    background-color: #18cfab;
    border: solid 1px #18cfab;
    color: #ffffff;
}
.tabsOurServActiv ~ .triangle{
    opacity: 1;
}
.triangle{
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
    width: 0;
    margin: 0 auto 13px;
    position: relative;
    opacity: 0;
}
.servicesTabsContent{

    color: rgba(119, 119, 119, 255);
    text-align: justify;
    padding: 0;
}
.servicesTabsText{
    margin-left: 20px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 23px;
    /*height: 139px;*/
}
.servicesTabsImg{
    border: none;
    margin: 0;
    padding: 0;
}

/*.notshow{*/
/*    display: none;*/
/*}*/
/*-------------------buyAndInstall-----------------------*/
.buyAndInstall{
    background-image: url(../img/background/section-2.jpg);
    /*height: 476px;*/
    min-width: 1200px;
    padding: 124px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.buyAndInstall::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.buyAndInstallText{
    position: relative;
    z-index: 1;
    text-align: center;
    /*top : 128px;*/
}
.everything{
    font-size: 40px;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.smooth{
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    margin-bottom: 76px;
}
/*-----------ourAmazingWork----------------------------------------*/
.ourAmazingWork{
    background-color: #f8fcfe;
    text-align: center;
    overflow: hidden;
}
.ourAmazingWorkList{
    margin-bottom: 71px;
}
.tabsOurAmaz{
    height: 73px;
    background-color: #ffffff;
    line-height: 73px;
    text-align: center;
    border: solid 1px #ebebeb;
    color: #717171;
    font-size: 17px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 25px;
    user-select: none;
}
.tabsOurAmazActive{
    color: #18cfab;
    box-shadow: 0 -2px 0 #18cfab;
}
.ourAmazingWorkBlock{
    margin-bottom: 45px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr); /*290px*/
    grid-gap: 0;
    justify-content: center;
}
.imgClass{
    border: none;
    outline:0;
}
.plus{
    font-size: 28px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.buttonStyleNSH{
    width: 166px;
    height: 58px;
    background-color: #18cfab;
    border-radius: 4px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 255);
    font-size: 13px;
    line-height:20px;
    font-weight: bold;
    margin: 45px 0 100px 0;
}
.ourAmazingWorkBlock  img{
    width: 290px;
}

.imgAndHover{
    position: relative;
}
.imgAndHover img{
    transition: 1s opacity;
    opacity: 1;
}
.imgAndHover:hover .hoverDesign{
    z-index: 2;
    opacity: 1;
}
.imgAndHover:hover img{
    opacity:0;
}
.hoverDesign{
    width: 290px;
    height: 208px;
    background-color: #f8fcfe;
    box-shadow: #18cfab 0 2px 1px inset;
    padding: 36px 0 53px 0 ;
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0;
    transition: 1s opacity;
}
.round{
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: #18cfab 2px solid;
    background-repeat: no-repeat;
    cursor: pointer;
}
.round1{
    background-image: url(../img/Form1.png);
    background-position: center;
}
.round1:hover{
    background-color: #18cfab;
    background-image: url(../img/Form1w.png);

}
.round2{
    background-image: url(../img/Form2g.png);
    background-position: center;
}
.round2:hover{
    background-color: #18cfab;
    background-image: url(../img/Form2.png);
}
.creative{
    font-size: 23px;
    color: #18cfab;
    text-transform: uppercase;
    margin: 34px 0 14px 0;
}
.designText{
    font-size: 20px;
    color: #ccced0;
}

/*-----------------Breaking News----------------*/
.breakingNews{
}

.block{
    width: 273px;
}
.imgBlockNews{
    position: relative;
    width: 273px;
    box-sizing: border-box;
}
.imgBlockNews >img{
    width: 273px;
}
.amazingPost{
    font-size: 19px;
    font-weight: bold;
    color: rgba(113, 113, 113, 255);
    margin: 14px 0 14px 0;
}
.block:hover .amazingPost{
    color: #18cfab;
}
.block:hover .dateBlock{
    background-color: #18cfab;
}
.comment{
    font-size: 14px;
    color:  rgba(119, 119, 119, 255);
}
.dateBlock{
    position: absolute;
    right: 0;
    width: 68px;
    height: 66px;
    font-size: 17px;
    background-color: #203e38;
    color: white;
    text-align: center;
    line-height: 25px;
    padding: 8px;
    box-sizing: border-box;
}
.textBlockNews{
    width: 254px;
    height: 72px;
    background-color: #f8fcfe;
    border: #f2f4f5 1px solid;
    padding-left: 17px;
}
.blockNews{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr); /*260px*/
    grid-column-gap: 23px;
    grid-row-gap: 45px;
    margin-bottom: 133px;
}

/*------------------peopleSay-----------------------------------*/
.peopleSay{
    background-image: url(../img/background/section-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1200px;
    height: 851px;
    margin-bottom: 100px;
    overflow: hidden;
    background-position: bottom;
    /*padding: 21px 0 103px 0;*/
}
.peopleSayTextColor{
    color: white;
}
.quotes{
    font-size: 50px;
    text-align: center;
}
.textPerson{
    font-size: 16px;
    color: rgba(187, 187, 187, 255);
    text-align: center;
    line-height: 20px;
}
.namePerson{
    margin-top: 43px;
    margin-bottom: 27px;
}
.name{
    font-size: 18px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}
.ellipse_1{
    width: 164px;
    height: 164px;
    border-radius: 50%;
    background-color: #104b4b;
    opacity: 80%;
    margin: 0 auto;
    border: 0.1px solid transparent;
}
.ellipse_2{
    background-color: transparent;
    border: #18cfab 3px solid;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin: 7px auto;
}
.layerImg1{
    width: 100%;
}
.layerImg2{
    height: 100%;
    margin-left: -37px;
}
.layerImg{
    height: 100%;
    margin-left: -9px;
}
.imgBox{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.persons{
    margin-bottom: 55px;
}
.smallImgBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ellipse1mini{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #104b4b;
    opacity: 80%;
    margin: 0 auto;
    border: 0.1px solid transparent;
    user-select: none;
}
.imgBox_mini{
    width: 61px;
    height: 61px;
    border-radius: 50%;
    overflow: hidden;
    margin: 3px auto;
}
.personMiniActive .imgBox_mini {
    border: #18cfab 1px solid;
}
.ellipse1mini:hover{
    position: relative;
    top: -10px;
}
.ellipse1mini:hover .imgBox_mini{
    border: #18cfab 2px solid;
}
.personMiniActive{
    position: relative;
    top: -10px;
}
.imgPerson + .imgPerson{
    margin-left: 36px;
}
.layerImg2_mini{
    height: 100%;
    margin-left: -18px;
}
.layerImg_mini{
    height: 100%;
    margin-left: -5px;
}
.buttonImgSl{
    width: 31px;
    height: 31px;
    font-size: 20px;
    /*font-weight: bold;*/
    text-align: center;
    color: #bbbbbb;
    border: 2px solid #bbbbbb;
    line-height: 31px;
    cursor: pointer;
}
.buttonLeft{
    margin-right: 30px;
    user-select: none;
}
.buttonRight{
    margin-left: 30px;
    user-select: none;
}
.buttonImgSl:hover{
    background-color: #18cfab;
    border-color: #18cfab;
    color: white;
}

/*!*-----------------bestImg----------------------------*!*/
.bestImage{
    text-align: center;
}

.itemImg{
    /*float:left;*/
    display: block;
    overflow: hidden;

}
#imgContainer{
    /*height: 921px;*/
    width: 1150px;
    margin-bottom: 45px;
    overflow: hidden;

}

.minSize{
    width: 112px;
    height: 92px;
    margin-bottom: 1px;
    margin-right: 1px;
    overflow: hidden;

}

.midlSize{
    width: 180px;
    height: 168px;
    margin-bottom: 1px;
    margin-right: 2px;
    overflow: hidden;

}

.bigSize{
    width: 362px;
    /*height: 370px;*/
    margin-bottom: 10px;
}

.dopOtst{
    margin-top: 10px;
}

.imgAndHoverBest{
    position: relative;
}

.imgAndHoverBest:hover .hoverBest{
    z-index: 2;
    opacity: 1;
}
.hoverBest{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*box-shadow: #18cfab 0 2px 1px inset;*/
    /*padding: 36px 0 53px 0 ;*/
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sqBest{
    width: 42px;
    height: 38px;
    border-radius: 3px;
    background-position: center;
}
.sqBest1{
    background-image: url("../img/hoverbimg1.png");
    margin-right: 5px;

}
.sqBest2{
    background-image: url("../img/hoverbimg2.png");
}




/*-----------------footer------------------------------*/
.footer{
    min-width: 1200px;
    height: 108px;
    text-align: center;
    line-height: 108px;
    background-color: #22353f;
    color: #bbbbbb;
    box-shadow: 0 -1px 2px grey;
    margin-bottom: 11px;
    /*margin-top: 78px;*/
}

/*!*--------------Анимация загрузки--------------------------------*!*/

/*#circularG{*/
/*    position:relative;*/
/*    width:58px;*/
/*    height:58px;*/
/*    margin: 0 auto 87px;*/
/*}*/
/*.circularG{*/
/*    position:absolute;*/
/*    background-color:rgb(24,207,170);*/
/*    width:14px;*/
/*    height:14px;*/
/*    border-radius:9px;*/
/*    animation-name:bounce_circularG;*/
/*    animation-duration:1.1s;*/
/*    animation-iteration-count:infinite;*/
/*    animation-direction:normal;*/
/*}*/
/*#circularG_1{*/
/*    left:0;*/
/*    top:23px;*/
/*    animation-delay:0.41s;*/
/*}*/
/*#circularG_2{*/
/*    left:6px;*/
/*    top:6px;*/
/*    animation-delay:0.55s;*/
/*}*/
/*#circularG_3{*/
/*    top:0;*/
/*    left:23px;*/
/*    animation-delay:0.69s;*/
/*}*/
/*#circularG_4{*/
/*    right:6px;*/
/*    top:6px;*/
/*    animation-delay:0.83s;*/
/*}*/
/*#circularG_5{*/
/*    right:0;*/
/*    top:23px;*/
/*    animation-delay:0.97s;*/
/*}*/
/*#circularG_6{*/
/*    right:6px;*/
/*    bottom:6px;*/
/*    animation-delay:1.1s;*/
/*}*/
/*#circularG_7{*/
/*    left:23px;*/
/*    bottom:0;*/
/*    animation-delay:1.24s;*/
/*}*/
/*#circularG_8{*/
/*    left:6px;*/
/*    bottom:6px;*/
/*    animation-delay:1.38s;*/
/*}*/
/*@keyframes bounce_circularG{*/
/*    0%{*/
/*        transform:scale(1);*/
/*    }*/
/*    100%{*/
/*        transform:scale(.3);*/
/*    }*/
/*}*/


/*--------------Анимация загрузки--------------------------------*/

.circularGBlock{
    position:relative;
    width:58px;
    height:58px;
    margin: 90px auto 100px;
}
.circularG{
    position:absolute;
    background-color:rgb(24,207,170);
    width:14px;
    height:14px;
    border-radius:9px;
    animation-name:bounce_circularG;
    animation-duration:1.1s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    /*margin-top: 5px;*/
}
.circularG_1{
    left:0;
    top:23px;
    animation-delay:0.41s;
}
.circularG_2{
    left:6px;
    top:6px;
    animation-delay:0.55s;
}
.circularG_3{
    top:0;
    left:23px;
    animation-delay:0.69s;
}
.circularG_4{
    right:6px;
    top:6px;
    animation-delay:0.83s;
}
.circularG_5{
    right:0;
    top:23px;
    animation-delay:0.97s;
}
.circularG_6{
    right:6px;
    bottom:6px;
    animation-delay:1.1s;
}
.circularG_7{
    left:23px;
    bottom:0;
    animation-delay:1.24s;
}
.circularG_8{
    left:6px;
    bottom:6px;
    animation-delay:1.38s;
}
@keyframes bounce_circularG{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(.3);
    }
}
